@import "../../mixins";

.jobs {
   .heading {
      @include d-flex(row, space-between, center);
      width: 100%;
   }
}
.add-job {
   width: 500px;
   max-width: 100%;
   @include d-flex(column, flex-start, center);
   gap: 1rem;

   * {
      color: var(--text-color1);
   }
}
